$bgcolor_component: rgb(255, 255, 255);
$bgcolor_page: #f7f9fb;
$color_primary: #001053;
$color_second: #a6bccc;
$color_low: #fb4e4e;
$color_normal: #fbef4e;
$color_high: #36c496;
$color_accent: #0aa9ff;
$color_font: rgb(255, 255, 255);
$color_hover: rgb(250, 0, 255);
// шаблоны анимации
%transition_hover {
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
//сброс стилей браузера
html,
body {
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  background-color: $bgcolor_page;
  min-width: 350px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.secondary {
  color: $color_second;
}
.primary {
  color: $color_primary;
}
.accent {
    color: $color_accent;
  }
.black {
  color: black;
}
// font app
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}

.text11 {
  font-size: 11px;
}
.text12 {
  font-size: 12px;
}
.text15 {
  font-size: 15px;
}
.text18 {
  font-size: 18px;
}
.text20 {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
    .text11 {
        font-size: 16px;
      }
      .text12 {
        font-size: 18px;
      }
      .text15 {
        font-size: 20px;
      }
      .text18 {
        font-size: 24px;
      }
      .text20 {
        font-size: 28px;
      }
}
@media screen and (min-width: 1200px) {
    .text11 {
        font-size: 18px;
      }
      .text12 {
        font-size: 20px;
      }
      .text15 {
        font-size: 22px;
      }
      .text18 {
        font-size: 26px;
      }
      .text20 {
        font-size: 31px;
      }
}
// общая страница
.page {
  width: 100%;
  background-color: $bgcolor_page;
  overflow: hidden;
  position: relative;
}
// ширина контента на странице
.container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}
// общие
.flex_row {
  display: flex;
}
.flex_col {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
}
// CSS кнопки
.button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  @extend %transition_hover;
}
.button__icon {
  border: none;
}
.button__menu {
  fill: $color_second;
  transition-property: fill;
  &:hover {
    @extend %transition_hover;
    fill: $color_accent;
  }
}
.button__menu2 {
  fill: black;
  transition-property: fill;
  &:hover {
    @extend %transition_hover;
    fill: $color_accent;
  }
}
.wrapper__btn {
  position: relative;
  width: 45%;
  height: min-content;
  padding-top: 45%;
  padding-left: 45%;
  min-width: 101px;
  min-height: 101px;
  max-width: 300px;
  max-height: 300px;
}
.button__icon_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10%;
  border: 1px solid $color_second;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 17px;
}
.button_toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bgcolor_component;
  transition-property: border-color;
  text-decoration: none;
  &:hover {
    @extend %transition_hover;
    border-color: $color_accent;
    border-width: 2px;
  }
}
.svg__btn {
  width: 90%;
  height: 90%;
  min-width: 48px;
  min-height: 48px;
}
.text_btn_icon{
text-align: center;
}
.button__text {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  color: $color_accent;
  transition-property: color;
  &:hover {
    @extend %transition_hover;
    color: $color_low;
  }
}
//=====================заголовок=====================
.header {
  background-color: $bgcolor_component;
}
.header__inner {
  row-gap: 12px;
}

// верхнее меню
.menu {
    height: 43px;
    align-items: center;
    justify-content: space-between;
  }
.menu__calendar {
  padding-left: 50px;
  align-items: center;
  gap: 13px;
  width: fit-content;
}
.menu__btns {
  align-items: center;
  gap: 18px;
  width: fit-content;
}
// информация о пользователе
.user {
  gap: 5%;
  padding-top: 11px;
  padding-bottom: 13px;
}
.wrapper_img {
  position: relative;
  width: 15%;
  height: min-content;
  padding-top: 15%;
  padding-left: 15%;
  min-width: 64px;
  min-height: 64px;
  max-width: 256px;
  max-height: 256px;
  border-radius: 50%;
  overflow: hidden;
}
.user__avatar {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user__info {
    width: 50%;
  align-items: flex-start;
  justify-content: flex-end;
}
@media screen and (min-width:768px) {
.user__info{
    width: 100%;
    gap: 24px;
    justify-content: center;
}
}
//=====================показатели KPI=====================
.kpi {
    justify-content: space-between;
}
.kpi__index {
  row-gap: 13px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-right: 1px solid $color_second;
  margin-top: 48px;
  margin-bottom: 47px;
}
.kpi__index:last-child {
  border-right: none;
}

//=====================блок кнопок=====================
.toolbar {
  grid-template-columns: repeat(3, 1fr);
  background-color: transparent;
  row-gap: 12px;
  column-gap: 12px;
  justify-items: center;
  margin-bottom: 56.58px;
}
@media screen and (min-width:768px) {
    .toolbar {
        grid-template-columns: repeat(6, 1fr);
        background-color: transparent;
        row-gap: 12px;
        column-gap: 12px;
        justify-items: center;
        margin-bottom: 56.58px;
      }
}
//=====================часы (табель)=====================
.status {
  width: 100%;
  border-radius: 6px;
  background-color: $bgcolor_component;
  bottom: 0;
}
// заголов
.status__title {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 7px 15px 10px 9px;
}
// бар индикатор
.status__bar {
  width: 100%;
  height: 13px;
  border-radius: 6px;
  margin-left: 9px;
  padding-right: 25px;
  overflow: hidden;
  // фактическа
  &::before {
    display: flex;
    content: " ";
    width: 100%;
    height: 13px;
    border-radius: 6px;
    background-color: $color_normal;
  }
  // план
  &::after {
    content: " ";
    display: flex;
    width: 57%;
    height: 13px;
    transform: translateY(-100%);
    background-color: $color_high;
  }
}
// легенда
.status__legend {
  width: 100%;
  padding-top: 7px;
  gap: 5%;
  justify-content: center;
}
.legend__item {
  padding-top: 7px;
  padding-bottom: 5px;
  gap: 2px;
  align-items: center;
}
.legend__rect[color] {
  width: 10px;
  height: 10px;
  border-radius: 1px;
  &[color="green"] {
    background-color: $color_high;
  }
  &[color="yellow"] {
    background-color: $color_normal;
  }
}
.text__legend {
  width: max-content;
}

// for use script
.less{
    color:$color_low
}
.equal{
    color:$color_normal
}
.more{
    color:$color_high
}

.calendar{
  white-space: nowrap;
}