$bgcolor_component: rgb(255, 255, 255);
$bgcolor_page: #f7f9fb;
$color_primary: #001053;
$color_second: #a6bccc;
$color_low: #fb4e4e;
$color_normal: #fbef4e;
$color_high: #36c496;
$color_accent: #0aa9ff;
$color_font: rgb(255, 255, 255);
$color_hover: rgb(250, 0, 255);
// шаблоны анимации
%transition_hover {
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
//сброс стилей браузера
html,
body {
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  background-color: $bgcolor_page;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
.secondary {
  color: $color_second;
}
.primary {
  color: $color_primary;
}
// font app
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
}
.text11 {
  font-size: 11px;
  line-height: 13px;
}
.text12 {
  font-size: 12px;
  line-height: 14px;
}
.text15 {
  font-size: 15px;
  line-height: 18px;
}
.text18 {
  font-size: 18px;
  line-height: 21px;
}
.text20 {
  font-size: 20px;
  line-height: 24px;
}

// общая страница
.page {
  width: 100%;
  background-color: $bgcolor_page;
  overflow: hidden;
  position: relative;
}
// ширина контента на странице
.container {
  width: 100%;
  max-width: 88%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 95%;
  }
}
// общие
.flex_row {
  display: flex;
}
.flex_col {
  display: flex;
  flex-direction: column;
}
.grid {
  display: grid;
}
// CSS кнопки
.button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  @extend %transition_hover;
}
.button__icon {
  border: none;
}
.button__icon_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  border: 1px solid $color_second;
  border-radius: 8px;
}
.button__text {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
//=====================заголовок=====================
.header {
  background-color: $bgcolor_component;
}
.header__inner {
  row-gap: 12px;
}
// верхнее меню
.menu {
  height: 43px;
  align-items: center;
  justify-content: space-between;
}
.menu__calendar {
    padding-left: 50px;
    align-items: center;
    gap: 13px;
    width: fit-content;
  }
.menu__btns {
  align-items: center;
  gap: 18px;
  width: fit-content;
}
// информация о пользователе
.user {
  gap: 5%;
  padding-top: 11px;
  padding-bottom: 13px;
}
.wrapper_img {
  position: relative;
  width: 15%;
  height: min-content;
  padding-top: 15%;
  padding-left: 15%;
  min-width: 64px;
  min-height: 64px;
  max-width: 256px;
  max-height: 256px;
  border-radius: 50%;
  overflow: hidden;
}
.user__avatar {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user__info {
  align-items: flex-start;
  justify-content: flex-end;
}
//=====================показатели KPI=====================
.kpi{

}
.kpi__index{
    row-gap: 13px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-right: 1px solid $color_second;
    margin-top: 48px;
    margin-bottom: 47px;
}
.kpi__index:last-child{
    border-right: none;
}
//=====================блок кнопок=====================
//=====================часы (табель)=====================